.exerciseContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.exercisePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    background-color: #f9f9f9;
}