body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 4rem;
    margin-bottom: 30%;
}


.homePageButtonContainer {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}





